* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

header,
footer {
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px auto;
}

.outer-wrapper {
    max-width: 1060px;
    display: flex;
    margin: 20px auto;
    background-color: black;
}

.flex-container {
    width: 50%;
    box-sizing: border-box;
    background-color: yellow;
}

.flex-items {
    width: 50%;
    box-sizing: border-box;
    background-color: pink;
}

.flex-container h2,
.flex-items h2 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.wrapper {
    max-width: 90%;
    margin: 20px auto;
}

.wrapper h3 {
    text-align: center;
    margin-bottom: 10px;
}

.wrapper .container {
    background-color: blueviolet;
    margin: 20px 0;
}

.container div {
    width: 30%;
    height: 50px;
    background-color: orange;
    border: 1px solid red;
    font-weight: bold;
    box-sizing: border-box;
}

.wrapper-flex-direction {
    background-color: aqua;
    padding: 20px;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.container4 {
    display: flex;
    flex-direction: column-reverse;
}

.wrapper-flex-wrap {
    background-color: aqua;
    margin: 20px 0;
    padding: 20px;
}

.container5 {
    display: flex;
    flex-wrap: nowrap;
}

.container5 div {
    width: 35%;
}

.container6 {
    display: flex;
    flex-wrap: wrap;
}

.container6 div {
    width: 35%;
}

.container7 {
    display: flex;
    flex-wrap: wrap-reverse;
}

.container7 div {
    width: 35%;
}

.wrapper-justify-content {
    background-color: aqua;
    padding: 20px;
}

.container8 {
    display: flex;
    justify-content: flex-start;
}

.container9 {
    display: flex;
    justify-content: flex-end;
}

.container10 {
    display: flex;
    justify-content: center;
}

.container11 {
    display: flex;
    justify-content: space-between;
}

.container12 {
    display: flex;
    justify-content: space-around;
}

.container13 {
    display: flex;
    justify-content: space-evenly;
}

.wrapper-align-items {
    background-color: aqua;
    padding: 20px;
    margin: 20px 0;
}

.containerh100 {
    height: 100px;
}

.container14 {
    display: flex;
    align-items: flex-start;
}

.container15 {
    display: flex;
    align-items: flex-end;
}

.container16 {
    display: flex;
    align-items: center;
}

.container17 {
    display: flex;
    align-items: stretch;
}

.container18 {
    display: flex;
    align-items: first baseline;
}

.container19 {
    display: flex;
    align-items: last baseline;
}

.wrapper-order-items {
    background-color: aqua;
    padding: 20px;
    margin: 20px 0;
}

.d-flex-jt-space-around {
    display: flex;
    justify-content: space-around;
}

.d-flex-fd-row {
    display: flex;
    flex-direction: row;
}

.container20 .item1 {
    order: 0;
}

.container20 .item2 {
    order: 1;
}

.container20 .item3 {
    order: 2;
}

.container21 .item1 {
    order: 2;
}

.container21 .item2 {
    order: 1;
}

.container21 .item3 {
    order: 0;
}

.container22 .item1 {
    order: 2;
}

.container22 .item2 {
    order: 0;
}

.container22 .item3 {
    order: 1;
}

.wrapper-flex-grow {
    background-color: aqua;
    padding: 20px;
    margin: 20px 0;
}

.container23 .item1,
.container23 .item2,
.container23 .item3 {
    flex-grow: 1;
}

.container24 .item1 {
    flex-grow: 0;
}

.container24 .item2 {
    flex-grow: 1;
}

.container24 .item3 {
    flex-grow: 0;
}

.container25 .item1 {
    align-self: center;
}

.container25 .item2 {
    align-self: last baseline;
}

.container25 .item3 {
    align-self: flex-end;
}

@media screen and (max-width: 560px) {
    .outer-wrapper {
        flex-direction: column;
    }

    .flex-container {
        width: 100%;
        order: 0;
    }

    .flex-items {
        width: 100%;
        order: 1;
    }
}
