* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.wrapper {
    max-width: 500px;
    margin: 20px auto;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 10px;
}

.wrapper .container {
    background-color: blueviolet;
    margin: 20px 0;
}

.container div {
    width: 30%;
    height: 50px;
    background-color: orange;
    border: 1px solid red;
    font-weight: bold;
    box-sizing: border-box;
}

.wrapper-flex-direction {
    background-color: aqua;
    padding: 20px;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.container4 {
    display: flex;
    flex-direction: column-reverse;
}

.wrapper-flex-wrap {
    background-color: aqua;
    margin: 20px 0;
    padding: 20px;
}

.container5 {
    display: flex;
    flex-wrap: nowrap;
}

.container5 div {
    width: 35%;
}

.container6 {
    display: flex;
    flex-wrap: wrap;
}

.container6 div {
    width: 35%;
}

.container7 {
    display: flex;
    flex-wrap: wrap-reverse;
}

.container7 div {
    width: 35%;
}

.wrapper-justify-content {
    background-color: aqua;
    padding: 20px;
}

.container8 {
    display: flex;
    justify-content: flex-start;
}

.container9 {
    display: flex;
    justify-content: flex-end;
}

.container10 {
    display: flex;
    justify-content: center;
}

.container11 {
    display: flex;
    justify-content: space-between;
}

.container12 {
    display: flex;
    justify-content: space-around;
}

.container13 {
    display: flex;
    justify-content: space-evenly;
}

.wrapper-align-items {
    background-color: aqua;
    padding: 20px;
    margin: 20px 0;
}

.containerh100 {
    height: 100px;
}

.container14 {
    display: flex;
    align-items: flex-start;
}

.container15 {
    display: flex;
    align-items: flex-end;
}

.container16 {
    display: flex;
    align-items: center;
}

.container17 {
    display: flex;
    align-items: stretch;
}

.container18 {
    display: flex;
    align-items: first baseline;
}

.container19 {
    display: flex;
    align-items: last baseline;
}
